body {
    background-color: darkslategray;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:midnightblue;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    display: inline;
    float: left;
}

.nav li a {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;
    color:seagreen;
}

.nav li a:hover {
    background-color: springgreen;
}

h2 {
    background-color: darkturquoise;
    padding: 10px;
}

p.first::first-letter {
    font-size: larger;
    font-weight: 600;
    color: greenyellow;
}

div {
    background-color: cadetblue;
    border-style: ridge;
    border-color: chartreuse;
    margin: 20px;
    padding: 10px;
}

footer {
    background-color:teal;
    text-align: center;
    padding: 5px;
    
}

footer a {
    color: yellowgreen;
    font-size: 15px;
}